@import url('https://fonts.googleapis.com/css?family=Roboto');
// partials starts with underscore _
html {
    font-size: 62.5%; /* (rem will be base 10 [62.5% of 16{default 1rem value} = 10]) */
}

body {
    font-family: "Helvetica";
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
  font-weight: bold;
}